<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="general"
		label="JOODB_GLOBAL"
		description="COM_JOODB_SETTINGS_DESC">
		<field name="show_icons" type="radio" default="1" label="Icons" description="SHOWICONS">
			<option value="1">Show</option>
			<option value="0">Hide</option>
		</field>		
		<field name="internal_editor" type="radio" default="1" label="Editor" description="INTERNALEDITOR">
			<option value="1">JYes</option>
			<option value="0">JNo</option>
		</field>		
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_joodb"
			section="component" />
	</fieldset>
</config>
