/** toolbar icon **/
.add {  line-height: 16px; background: url(./images/icon-16-add.png) 0 50% no-repeat; padding: 3px 5px 3px 20px; cursor: pointer; }
.save { line-height: 16px; background: url(./images/icon-16-save.png) 0 2px no-repeat; padding: 3px 5px 3px 20px;  cursor: pointer; }
.delete { line-height: 16px; background: url(./images/icon-16-delete.png) 0 2px no-repeat; padding: 3px 5px 3px 20px;  cursor: pointer; }
.info { line-height: 16px; background: url(./images/icon-16-info.png) 0 2px no-repeat; padding: 3px 5px 3px 20px; cursor: pointer; }

.fltlft { display: inline-block; *display: inline;  float: left; }
.fltrt { display: inline-block; *display: inline;  float: right; }

.noticebox { display: none; padding: 10px; border: 1px solid #ccc; background-color: #FFFFD7; margin: 5px 0; position: absolute; z-index: 100; }
.elementbox { display: block; padding: 10px; border: 1px solid #ccc; background-color: #EBF4FF; margin: 5px 0;  }

td.paramlist_key { vertical-align: top;}

hr{ border: 0px; border-top: solid 1px #cccccc; border-bottom: solid 1px #FFFFFF; }
.paramlist td, .paramlist th {  padding: 3; }
.paramlist label { padding-right: 5px; }
.paramlist .inputbox  { margin-right: 5px; }

.inline { display: inline-block; *display: inline; width: auto: }
label.inline { min-width: inherit !important; width: inherit !important; clear: none;}

.block { padding: 10px; display: block; width: auto;}
iframe { border: 0; }

/** extend/remap isis icons */
.icon-import:before { content: "\e022"; }
.icon-forward:before { content: "\e006"; }
.icon-joodb:before { content: "b"; }
